{% extends 'app_blog/base.html' %}
{% load crispy_forms_tags %}

{% block base_section %}
    <div class="form-section">
        <h2>Авторизация на сайте</h2>
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}

            <button type="submit" class="btn btn-outline-warning mt-2">Войти</button>
        </form>
    </div>

{% endblock base_section %}

    
{% block aside_section %}

    <h3><b>ИИ на Python для распознавания голоса и выполнения команд</b></h3>
    <img src="https://itproger.com/img/news/1545671924.jpg" class="img-fluid img-thumbnail mb-1">
    <p>На Python можно строить как простые программы, так и сложные ИИ системы.
        В данной статье мы покажем как реализовать 
        распознавание голоса и выполнение различных команд.
    </p>
    <a href="https://itproger.com/news/ii-na-python-dlya-raspoznavaniya-golosa-i-vipolneniya-komand" target="_blank">
        <button class="btn btn-warning">Посмотреть</button>
    </a>

{% endblock aside_section %}